<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <main>
        <form action="/addchar " method="POST">
            <input type="text" name="name" >
            <input type="text" name="house" >
            <input type="text" name="patronus" >
            <input type="text" name="isalive" >
            <input type="text" name="createdby">
            <button type="submit">Create</button>
            </form>
    </main>


</body>
</html>